.row.content {
	height: 100%
}
.sidenav {
	padding-top: 20px;
	background-color: #e6f3ff;
	padding: 0
}
.logo {
	float: left;
	margin-right: 55px;
	height: 140px;
	margin-bottom: 5px;
	box-shadow: 10px 10px 12px -4px rgba(0,0,0,.49);
	border-radius: 8px
}
.rounded-div {
	border-radius: 0px;
	border: 1px solid #cccccc;
	padding: 10px;
	overflow: hidden;
	margin-left: 0;
	margin-bottom: 10px;
	-webkit-box-shadow: 10px 10px 12px -4px rgba(0,0,0,.49);
	-moz-box-shadow: 10px 10px 12px -4px rgba(0,0,0,.49);
	box-shadow: 10px 10px 12px -4px rgba(0,0,0,.49)
}
.rounded-div:hover {
	border: 1px solid #033c73;
	box-shadow: 10px 10px 5px -4px rgba(0,0,0,.49)
}
.rounded-div h3 {
	font-size: 18px;
	height: 24px;
	overflow: hidden;
	margin-top: 0;
	margin-bottom: 4px
}
.left-add {
	display: block;
	margin-top: 10px
}
.footer-links {
	float: left
}
.footer-links a {
	margin-right: 20px
}
.jumbotron {
	padding-bottom: 0;
	background-color: #e6f3ff;
	margin-bottom: 10px
}
.jumbotron .container {
	padding-top: 10px
}
a.list-group-item:hover {
	background-color: #e6f3ff
}
a.list-group-item {
	background-color: #1995dc;
	color: #fff
}
.jumbotron .menu01 {
	color: #000;
	margin-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 0;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 14px;
	font-family: Tahoma, Verdana, Arial
}
.top-gp {
	padding-top: 12px;
	display: block;
	float: left
}
.top-fb {
	display: block;
	float: left;
	padding-top: 14px
}
.img-thumbnail {
	float: left;
	margin-right: 10px
}
.fa-Automobiles:before {
	content: "\f1b9"
}
.fa-Business:before {
	content: "\f201"
}
.fa-Electronics:before {
	content: "\f26c"
}
.fa-General:before {
	content: "\f13d"
}
.fa-Employment:before {
	content: "\f27e"
}
.fa-Mobile:before {
	content: "\f10b"
}
.fa-Computer:before {
	content: "\f109"
}
.fa-Personal:before {
	content: "\f234"
}
.fa-Real:before {
	content: "\f015"
}
.fa-Marriage:before {
	content: "\f004"
}
.fa-Massage:before {
	content: "\f1ae"
}
.list-group-item {
	padding-left: 4px;
	padding-right: 4px
}
.fa-fw {
	margin-right: 4px
}
.img-rounded {
	border: 1px solid #ddd;
	padding: 5px
}
.adtime {
	float: right;
	font-size: 12px;
	color: #317eac
}
.ad-count h3 {
	margin-top: 0
}
.blink_text {
	animation: 1s blinker linear infinite;
	-webkit-animation: 1s blinker linear infinite;
	-moz-animation: 1s blinker linear infinite;
	color: red
}
.label-special.premium {
	background: #c10c4f;
	color: #fff;
	margin-top: -12px;
	border-radius: 2px
}
.label-special.super {
	background: #daa520;
	color: #fff;
	margin-top: -12px;
	border-radius: 2px;
	font-size: 1em;
	height: 22px;
	padding: 3px 0 0 5px
}
.label-special {
	font-size: .8em;
	height: 19px;
	line-height: 16px;
	padding: 1px 0 0 5px;
	position: relative;
	width: 85px;
	z-index: 3;
	float: right
}
.col-md-5.rounded-div p {
	overflow: hidden
}
.rounded-div.premium {
	border: 2px solid #c10c4f
}
.rounded-div.super {
	border: 2px solid #daa520;
	min-height: auto!important
}
@-moz-keyframes blinker {
0% {
opacity:1
}
50% {
opacity:0
}
100% {
opacity:1
}
}
@-webkit-keyframes blinker {
0% {
opacity:1
}
50% {
opacity:0
}
100% {
opacity:1
}
}
@keyframes blinker {
0% {
opacity:1
}
50% {
opacity:0
}
100% {
opacity:1
}
}

@media screen and (max-width:400px) {
.top-gp {
	display: none
}
}

@media(min-width:992px) {
.col-md-5.rounded-div {
	width: 40%;
	height: 196px;
	margin-left: 10px
}
.col-md-10.rounded-div {
	width: 80%;
	min-height: 196px;
	margin-left: 10px
}
.list-group-top {
	display: none
}
}

@media(max-width:992px) {
.left-add, .sidenav {
	display: none
}
.jumbotron {
	display: none
}
h1 {
	font-size: 24px
}
.ad-count, .add-full-div {
	margin-top: 60px
}
}

@media screen and (min-width:800px) {
.list-group-top {
	display: none
}
}

@media screen and (max-width:800px) {
.list-group-top {
}
}
